html,body{
    background-color: rgb(72,72,209);
}
.asidel{
    float:left;
    width:50%;
    height:500px;
}
.asider{
    float:right;
    width:50%;
    height:500px;
}
.heading1{
    color: aliceblue;
    font-style: italic;
    font-family: cursive;
    font-size: 35px;
}
.unlist{
    color:aliceblue;
    list-style-type: square;
    font-size:20px;
}
fieldset{
    text-align: center;
    border-radius: 30px;
    width:90%;
    height:400px;
    border: double white 6px;
}
legend{
    color:aliceblue;
    font-size: 40px;
    font-family: cursive;
}
label{
    font-family: cursive;
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-style: italic;
}
.inputed{
    width:500px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(0, 245, 245);
    font-style: italic;
}
.butt{   
    background-color: rgb(109, 16, 196);
    color:beige;
    width:150px;
    height:30px;
    border-radius: 10px;
    font-family: cursive;
}
.butt:hover{
    background-color: yellowgreen;
    color:red;
    font-weight: bold;
}